body {
    background-color: cadetblue
}
#Location {
    padding-right: 10px;
    margin-top: 50px;
    margin-bottom: 100px;
}
h2 {
    padding: 20px; /* Поля */
    background-color: yellow; /* Цвет фона */
    border: 2px; /*solid #E81E25;*/ /* Параметры рамки */
    border-radius: 50px;
}
button {
    border-radius: 12px;
}