@model IEnumerable<CheckingStore.Models.ResultСheckingModel>
<link href="@Url.Content("~/Content/MyStyle.css")" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Index2";
}

<body>
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-3">
                
            </div>
            <div class="col-lg-6">
                <h2>ФИО аудитора</h2>
            </div>
            <div class="col-lg-3">
                
            </div>
            
        </div>
        <div class="row text-center" id="Location">

            <div class="col-lg-4">

            </div>
            <div class="col-lg-4">
                <p>
                    <button type="button" class="btn btn-primary btn-lg btn-block">Магазин 1</button>
                </p>
                <p>
                    <button type="button" class="btn btn-primary btn-lg btn-block">Магазин 2</button>
                </p>
                <p>
                    <button type="button" class="btn btn-primary btn-lg btn-block">Магазин 3</button>
                </p>
            </div>
            <div class="col-lg-4">

            </div>
            
        </div>
    </div>


</body>